<!---Componentes que conforman la seccion de inicio de sesion--->
<body>
  <div class="square">
    <section class="format">
      <br>
      <h1>Sign In</h1>
      <!---Seccion donde se reciben los inputs del usuario--->
      <input type="email" id="email" placeholder="Enter e-mail" >
      <input type="password" id="pass" placeholder="Enter password">
      <a><button type="submit" routerLink="/home">Log in</button></a>
      <p><span style="color: white;">Si no tienes cuenta registrate </span> <span> <a routerLink="/register" style="color: aqua;">aquí</a></span></p>
    </section>
  </div>
</body>
