<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="bagcarts.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
   </head>
<body>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="title">Asignacion de Bagcart a Vuelo</div>
        <div class="content">
            <form >
                <div class="flight-details">
                    <br>
                    <h5>Seleccione el Vuelo</h5><br>
                    <select class="selectpicker" >
                        <option>Vuelos...</option>
                        <option>MA-531 SJO-BVB</option>
                        <option>KL-1792 SJO-PAR</option>
                        <option>AF-1523 SJO-PAN</option> 
                    </select> 

                </div>
                <br>
                <div class="bagcart-details">
                    <h5>Seleccione el BagCart</h5><br>
                    <select class="selectpicker" *ngFor="let bagcart of bagcartName">
                        <option>BagCarts...</option>
                        <option>{{bagcart.bagcart1}}</option>
                        <option>{{bagcart.bagcart2}}</option>
                        <option>{{bagcart.bagcart3}}</option>
                    </select> 
    
                    <div class="button">
                    <input type="submit" value="Asignar">
                    </div>
                
                </div>
            </form>
        </div>
    </div>
</body>
</html>

